<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/eshopdb"/>
        <property name="username" value="julia"/>
        <property name="password" value="julia"/>
        <property name="minimumIdle" value="20"/>
        <property name="maximumPoolSize" value="30"/>
        <property name="poolName" value="springHikariCP"/>
    </bean>

    <bean name="hikariDataSource" class="com.zaxxer.hikari.HikariDataSource">
        <constructor-arg name="configuration" ref="hikariConfig" />
    </bean>

    <bean name="mySqlHikariDataSourceFactory" class="com.gmail.kramarenko104.factoryDao.MySqlHikariDataSourceFactory" destroy-method="closeConnection" >
    </bean>

    <bean name="daoFactory" class="com.gmail.kramarenko104.factoryDao.DaoFactory" abstract="true" factory-method="getSpecificDao">
        <property name="connection" ref="#{mySqlHikariDataSourceFactory.connection}"/>
        <property name="userDaoMySqlImpl" ref="userDao"/>
        <property name="productDaoMySqlImpl" ref="productDao"/>
        <property name="cartDaoMySqlImpl" ref="cartDao"/>
        <property name="orderDaoMySqlImpl" ref="orderDao"/>
    </bean>

    <bean name="userDao" class="com.gmail.kramarenko104.dao.UserDaoMySqlImpl" lazy-init="true">
        <constructor-arg name="conn" ref="#{hikariDataSource.getConnection()}"></constructor-arg>
    </bean>

    <bean name="productDao" class="com.gmail.kramarenko104.dao.ProductDaoMySqlImpl" lazy-init="true">
        <constructor-arg name="conn" ref="#{hikariDataSource.getConnection()}"></constructor-arg>
    </bean>

    <bean name="cartDao" class="com.gmail.kramarenko104.dao.CartDaoMySqlImpl" lazy-init="true">
        <constructor-arg name="conn" ref="#{hikariDataSource.getConnection()}"></constructor-arg>
    </bean>

    <bean name="orderDao" class="com.gmail.kramarenko104.dao.OrderDaoMySqlImpl" lazy-init="true">
        <constructor-arg name="conn" ref="#{hikariDataSource.getConnection()}"></constructor-arg>
    </bean>



</beans>