<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration xmlns="http://www.hibernate.org/xsd/hibernate-configuration">
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">julia</property>
        <property name="hibernate.connection.password">julia</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/eshopdb;DB_CLOSE_DELAY=-1;MVCC=TRUE</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--<property name="hibernate.cache.use_query_cache">true</property>-->
        <!--<property name="hibernate.jdbc.use_streams_for_binary">true</property>-->
        <!--<property name="hibernate.jdbc.batch_size">0</property>-->
        <property name="hibernate.max_fetch_depth">3</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Drop and re-create the database schema on startup -->
        <!--<property name="hbm2ddl.auto">create-drop</property>-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.generate_statistics">true</property>
        <!--<property name="test-assertable-setting">value</property>-->
        <!--<property name="hibernate.cache.region.factory_class">org.hibernate.testing.cache.CachingRegionFactory</property>-->

        <!-- dbcp connection pool configuration -->
        <!--<property name="hibernate.dbcp.initialSize">5</property>-->
        <!--<property name="hibernate.dbcp.maxTotal">20</property>-->
        <!--<property name="hibernate.dbcp.maxIdle">10</property>-->
        <!--<property name="hibernate.dbcp.minIdle">5</property>-->
        <!--<property name="hibernate.dbcp.maxWaitMillis">-1</property>-->


        <mapping class="com.gmail.kramarenko104.model.User"/>
        <mapping class="com.gmail.kramarenko104.model.Product"/>
        <mapping class="com.gmail.kramarenko104.model.Cart"/>
        <mapping class="com.gmail.kramarenko104.model.Order"/>
        <!--<class-cache class="org.hibernate.jpa.test.Item" usage="read-write"/>-->
        <!--<collection-cache collection="org.hibernate.jpa.test.Item.distributors" usage="read-write" region="RegionName"/>-->
        <!--<event type="pre-insert"/>-->
    </session-factory>
</hibernate-configuration>


