<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!--<property name="connection.url">jdbc:mysql://localhost:3306/eshopdb?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>-->
        <property name="connection.url">jdbc:mysql://localhost:3306/testdb?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">julia</property>
        <property name="connection.password">julia</property>

        <!-- dbcp connection pool configuration -->
        <!--<property name="dbcp.initialSize">5</property>-->
        <!--<property name="dbcp.maxTotal">20</property>-->
        <!--<property name="dbcp.maxIdle">10</property>-->
        <!--<property name="dbcp.minIdle">5</property>-->
        <!--<property name="dbcp.maxWaitMillis">-1</property>-->

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <property name="generate_statistics">true</property>

        <mapping class="com.gmail.kramarenko104.model.User"/>
        <mapping class="com.gmail.kramarenko104.model.Product"/>
        <mapping class="com.gmail.kramarenko104.model.Cart"/>
        <mapping class="com.gmail.kramarenko104.model.Order"/>

    </session-factory>
</hibernate-configuration>


